<?xml version="1.0"?>
<config>
    <modules>
        <Atwix_ClearCache>
            <version>0.1.0</version>
        </Atwix_ClearCache>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <clearcache after="Mage_Adminhtml">Atwix_ClearCache</clearcache>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <helpers>
            <clearcache>
                <class>Atwix_ClearCache_Helper</class>
            </clearcache>
        </helpers>
    </global>
</config>